---
layout: default
---

<div class="container mb7">
  <div class="section section--64">
    <h1>Discover the Future of Work</h1>
    <p class="text-huge">
      What will the workplace look like in five years? What about ten? Even more? Join us and let’s explore how today’s coworking spaces are leading the way forward in work, life, and everything in between.
    </p>
  </div>
</div>

{% include join-us.html %}

<div class="container pv6 overflow-hidden">
  <div class="section section--64">
    <h3 class="tr">Participating Spaces</h3>
  </div>
  <div class="ph5-l">
    {% include participating-spaces.html %}
  </div>
</div>

<!-- <p class="tc mt3 mb6">
  <a href="https://forms.gle/zkhAeMSewSTQcmzz5" class="btn btn--big btn--border-with-shadow">
    Register your space now
  </a>
</p> -->
