---
layout: default
description: The Pandemic is a challenge for all of us. To focus our energy on tackling it the festival will be back in 2021. If you need a break from the home office or your company office feels to crowded find a space in your neighborhood.
---

<div class="container mb7">
  <div class="section section--64">
    <h1>See you in 2021</h1>
    <p class="text-huge">
      {{ page.description }}
    </p>
  </div>

  <div class="section section--64">
    <div class="tours-header">
      <iframe class="tours-header-map border-with-shadow" height="480" src="https://www.google.com/maps/d/u/0/embed?mid=14-jBnAM-3P5yJq8BMFJao_ahBLhkjqHE" width="640"></iframe>
    </div>
  </div>
</div>

<!-- <div class="container pv6 overflow-hidden">
  <div class="section section--64">
    <h3 class="tr">Participating Spaces</h3>
  </div>
  <div class="ph5-l">
    {% include participating-spaces.html %}
  </div>
</div> -->

 <!-- {% include register-button.html %} -->
