---
layout: default
title: Schedule
---

<div class="container">
  <div class="section section--64 mb6">
    <h1>Schedule</h1>
    <p class="text-huge">
      Across Berlin you’ll find events focused on technology, marketing, business operations, community building, and more. Whether you want to visit workshops, learn from coworking professionals, or just want to chat about your passions with like-minded coworkers, this is where you can see what’s happening.
    </p>
    <div class="flex items-center flex-wrap justify-end">
      <p class="pr4 tr">
        Is your space or event missing? Let us know and we’ll add it!
      </p>
      <p>
        <a href="{% link contact.html %}" class="btn btn--border-with-shadow">
          Contact Us
        </a>
      </p>
    </div>
  </div>
</div>

{% assign sorted = site.data.events | sort: 'start_datetime' %}

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>Monday, September 9</h2>
      {% for event in sorted %}
        {% if event.weekday == "Monday" %}
          {% include event.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>Tuesday, September 10</h2>
      {% for event in sorted %}
        {% if event.weekday == "Tuesday" %}
          {% include event.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>Wednesday, September 11</h2>
      {% for event in sorted %}
        {% if event.weekday == "Wednesday" %}
          {% include event.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>Thursday, September 12</h2>
      {% for event in sorted %}
        {% if event.weekday == "Thursday" %}
          {% include event.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="events-day">
  <div class="container">
    <div class="section section--64 mb5">
      <h2>Friday, September 13</h2>
      {% for event in sorted %}
        {% if event.weekday == "Friday" %}
          {% include event.html %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
