---
layout: default-de
title: Programm
banner: schedule-banner
---

<div class="container">
  <section class="feature">
    <div class="feature-image">
      <img src="/img/feature-2.png" />
    </div>
    <h3 class="feature-title">Events</h3>
    <div class="feature-description">
      <p>
        Nimm an Workshops, Meet-ups und Kunstausstellungen in den Spaces teil. Details in der folgenden Agenda.
      </p>
    </div>
  </section>
  <section class="feature">
    <div class="feature-image">
      <img src="/img/feature-3.png" />
    </div>
    <h3 class="feature-title">Geh auf Tour</h3>
    <div class="feature-description">
      <p>
        Lerne einen Space bei einer geführten Tour im Detail kennen. Es gibt Touren für einzelne oder mehre Spaces.
        Mehr unter <a href="{% link tours-de.html %}">Touren</a>.
      </p>
    </div>
  </section>
</div>


<section class="cb pv4 pv5-l">
  <div class="container">
  <button class="js-accordion event-day-header">Montag <span class="event-date">September 17</span></button>
  <div class="event-content">
    {% for event in site.data.events %}
      {% if event.weekday == "Monday" %}
        {% include event-de.html %}
      {% endif %}
    {% endfor %}

  </div>

  <button class="js-accordion event-day-header" id="white">Dienstag <span class="event-date">September 18</span></button>
  <div class="event-content">
    {% for event in site.data.events %}
      {% if event.weekday == "Tuesday" %}
        {% include event-de.html %}
      {% endif %}
    {% endfor %}

  </div>


  <button class="js-accordion event-day-header">Mittwoch <span class="event-date">September 19</span></button>
  <div class="event-content">
    {% for event in site.data.events %}
      {% if event.weekday == "Wednesday" %}
        {% include event-de.html %}
      {% endif %}
    {% endfor %}

  </div>

  <button class="js-accordion event-day-header" id="white">Donnerstag <span class="event-date">September 20</span></button>
  <div class="event-content">
    {% for event in site.data.events %}
      {% if event.weekday == "Thursday" %}
        {% include event-de.html %}
      {% endif %}
    {% endfor %}

  </div>

  <button class="js-accordion event-day-header">Freitag <span class="event-date">September 21</span></button>
  <div class="event-content">
    {% for event in site.data.events %}
      {% if event.weekday == "Friday" %}
        {% include event-de.html %}
      {% endif %}
    {% endfor %}
  </div>

  </div>
</section>

<section class="banner-special-events cb pt3 pb4">
  <div class="container">
    <h2>Special Event</h2>
    <a href="https://www.tuesdaycoworking.com/football-fives" target="_blank">
      <img src="/img/banner-football.jpg" alt="Berlin Coworking Football Fives by tuesday coworking"></img>
    </a>
  </div>
</div>
