---
layout: default-de
title: Programm
banner: schedule-banner
---
<section class="feature">
  <div id="f-image">
    <img src="/img/feature-1.png" />
  </div>
  <div id="f-title">
    <h3 >OPEN DOORS</h3>
  </div>
  <div class="description">
    <p>
      Visit any participating space, see what they are about and meet the people who call it home. At least one day is free in every space.
    </p>
  </div>
</section>
<section class="feature">
  <div id="f-image">
    <img src="/img/feature-2.png" />
  </div>
  <div id="f-title">
    <h3 >EVENTS</h3>
  </div>
  <div class="description">
    <p>
      Participate in workshops, meet-ups and exhibitions  in the spaces.  Details in the schedule below.
    </p>
  </div>
</section>
<section class="feature">
  <div id="f-image">
    <img src="/img/feature-3.png" />
  </div>
  <div id="f-title">
    <h3 >TOURS</h3>
  </div>
  <div class="description">
    <p>
      Learn more about a space through an organized tour.
      There are guided tours for single and multiple locations.  See TOURS for details.      </p>
  </div>
</section>

<section id="drop-down">
  <div class="container">

  <!-- event one -->
  <button class="accordion">Montag <span>&emsp;September 17</span></button>
  <div class="accordion-content">
    {% for event in site.data.monday-events %}
      {% include event.html %}
    {% endfor %}
  </div>
  <!-- end event one -->
  <!-- event two -->
  <button class="accordion" id="white">Dienstag <span>&emsp;September 18</span></button>
  <div class="accordion-content">
    {% for event in site.data.tuesday-events %}
      {% include event.html %}
    {% endfor %}
  </div>
  <!-- end event two -->

  <!-- event three -->
  <button class="accordion">Mittwoch <span>&emsp;September 19</span></button>
  <div class="accordion-content">
    {% for event in site.data.wednesday-events %}
      {% include event-de.html %}
    {% endfor %}
  </div>
  <!-- end event three -->

  <!-- event four -->
  <button class="accordion" id="white">Donnerstag <span>&emsp;September 20</span></button>
  <div class="accordion-content">
    {% for event in site.data.thursday-events %}
      {% include event.html %}
    {% endfor %}
  </div>  <!-- end event four -->

  <!-- event five -->
  <button class="accordion">Freitag <span>&emsp;September 21</span></button>
  <div class="accordion-content">
    {% for event in site.data.friday-events %}
      {% include event.html %}
    {% endfor %}
  </div>
  <!-- end event five -->

  </div>
</section>
