<div class="event">
  <p class="event-time">
    {{event.start_time | date: "%I:%M%P"}}&nbsp;-&nbsp;{{event.end_time | date: "%I:%M%P"}}
  </p>
  <p class="event-location">
    {{event.Space}}
  </p>
  <p class="event-description">
    {% if event.url %}
    <a href="{{ event.url }}" target="_blank">
    {% elsif event.fb_url %}
    <a href="{{ event.fb_url }}" target="_blank">
    {% else %}
    <a href="#">
    {% endif %}
    {% if event.paid == 'Yes' %}
    (Paid)
    {% endif %}
    {{ event.event_desc_eng | newline_to_br }}
    </a>
  </p>
</div>
