<div class="event border-with-shadow pa4 pa5-l">
  <h4 class="event__details">
    <div class="event__time">
      <span class="event__weekday">{{ event.weekday }},</span>
      {{event.start_time | date: "%I:%M%P"}}&nbsp;-&nbsp;{{event.end_time | date: "%I:%M%P"}}
    </div>
    <div class="event__location">
      <div>{{event.Space}}</div>
      <div class="pin-wrapper ml3">
        <div class='pin'></div>
        <div class='pulse'></div>
      </div>
    </div>
  </h4>
  <h3 class="event__title">
    {{ event.event_title_eng }}
  </h3>
  <p class="event__description">
    {{ event.event_desc_eng | newline_to_br }}
  </p>

  {% if event.url || event.fb_url %}
    {% if event.url %}
      <a href="{{ event.url }}" target="_blank" class="ttu">
    {% elsif event.fb_url %}
      <a href="{{ event.fb_url }}" target="_blank" class="ttu">
    {% endif %}
       ⇧ Event Website
       {% if event.paid == 'Yes' %}
         (Paid Event)
       {% endif %}
    </a>
  {% endif %}

</div>
