<footer class="site-footer flex flex-wrap">
  <div class="footer__supporters">
    <div class="flex items-center">
      <a alt="Cobot" class="footer__sponsor footer__sponsor--cobot mr5" href="https://www.cobot.me/" target="_blank">
        <img src="{{ site.baseurl }}/img/logos/logo-cobot.svg" alt="Cobot Logo"/>
      </a>
    </div>
    <h4>Thanks to our supporters</h4>
    <p class="mb0 text-medium">
      The festival is sponsored by
      <a href="https://www.cobot.me/" target="_blank">Cobot</a>, the leading provider of coworking software worldwide.
    </p>
  </div>
  <div class="footer__meta">
    <div class="footer__nav">
      <a class="link--footer" href="/">Home</a>
      <span class="link--footer" href="/en/schedule">Schedule</span>
      <a class="link--footer" href="/en/faq">FAQ</a>
      <a class="link--footer pr0" href="/en/contact">Contact</a>
    </div>
    <div class="footer__credit text-medium">
      <span class="pr2">&copy; 2020 Coworking Festival Berlin</span>
      &bull;
      <a class="link--footer pl2 pr0" href="/de/impressum">Impressum</a>
    </div>
  </div>
</footer>
