<footer class="site-footer flex flex-wrap">
  <div class="footer__supporters">
    <div class="flex items-center">
      <a href="https://www.cobot.me/" target="_blank" class="footer__sponsor footer__sponsor--cobot mr5" alt="Cobot">
        <img src="{{ site.baseurl }}/img/logos/logo-cobot.svg" alt="Cobot Logo" />
      </a>
      <a href="https://onecoworking.com" target="_blank" class="footer__sponsor footer__sponsor--oneco mr5" alt="One Coworking">
        <img src="{{ site.baseurl }}/img/logos/logo-oneco.png" alt="One Coworking Logo" />
      </a>
      <a href="https://www.berlkoenig.de/en/" target="_blank" class="footer__sponsor footer__sponsor--berlkoenig mr5" alt="Cobot">
        <img src="{{ site.baseurl }}/img/logos/logo-berlkoenig.svg" alt="BerlKönig Logo" />
      </a>
    </div>
    <h4>Thanks to our supporters</h4>
    <p class="mb0 text-medium">
      The festival is sponsored by <a href="https://www.cobot.me/" target="_blank">Cobot</a>, the leading provider of coworking software worldwide, and by <a href="https://onecoworking.com" target="_blank">One Coworking</a>, an app connecting coworkers to coworking spaces around the globe. Festival attendees can find the list of spaces, events, and directions throughout the week using the One Coworking app.
    </p>
  </div>
  <div class="footer__meta">
    <div class="footer__nav">
      <a href="/" class="link--footer">Home</a>
      <a href="/en/schedule" class="link--footer">Schedule</a>
      <a href="/en/tours" class="link--footer">Tours</a>
      <a href="/en/faq" class="link--footer">FAQ</a>
      <a href="/en/contact" class="link--footer pr0">Contact</a>
    </div>
    <div class="footer__credit text-medium">
      <span class="pr2">&copy; 2019 Coworking Festival Berlin</span>
      &bull;
      <a href="/de/impressum" class="link--footer pl2 pr0">Impressum</a>
    </div>
  </div>
</footer>
