<footer class="site-footer flex flex-wrap">
  <div class="footer__supporters">
    <div class="flex items-center">
      <a
        href="https://www.cobot.me/"
        target="_blank"
        class="footer__sponsor footer__sponsor--cobot mr5"
        alt="Cobot"
      >
        <img src="{{ site.baseurl }}/img/logos/logo-cobot.svg" alt="Cobot Logo" />
      </a>
      <a
        href="https://onecoworking.com"
        target="_blank"
        class="footer__sponsor footer__sponsor--oneco mr5"
        alt="One Coworking"
      >
        <img src="{{ site.baseurl }}/img/logos/logo-oneco.png" alt="One Coworking Logo" />
      </a>
      <a
        href="https://www.berlkoenig.de/"
        target="_blank"
        class="footer__sponsor footer__sponsor--berlkoenig mr5"
        alt="Cobot"
      >
        <img src="{{ site.baseurl }}/img/logos/logo-berlkoenig.svg" alt="BerlKönig Logo" />
      </a>
    </div>
    <h4>Sponsoren</h4>
    <p class="mb0 text-medium">
      Das Festival wird unterstützt von <a href="https://www.cobot.me/" target="_blank">Cobot</a>,
      der weltweit führenden Coworking Software aus Berlin, sowie von
      <a href="https://onecoworking.com" target="_blank">One Coworking</a>, der App, die Coworker
      und Spaces verbindet. Festival-Teilnehmende können eine Liste aller Spaces, Events und
      Anfahrtswege direkt in der App finden.
    </p>
  </div>
  <div class="footer__meta">
    <div class="footer__nav">
      <a href="/" class="link--footer">Homepage</a>
      <a href="/de/schedule" class="link--footer">Kalender</a>
      <a href="/de/tours" class="link--footer">Touren</a>
      <a href="/de/faq" class="link--footer">FAQ</a>
      <a href="/de/contact" class="link--footer pr0">Kontakt</a>
    </div>
    <div class="footer__credit text-medium">
      <span class="pr2">&copy; 2020 Coworking Festival Berlin</span>
      &bull;
      <a href="/de/impressum" class="link--footer pl2 pr0">Impressum</a>
    </div>
  </div>
</footer>
