<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Coworking Festival Berlin 2019</title>
  <meta name="description"
    content="Discover the Future of Work: What will the workplace look like in five years? What about ten? Even more? Explore how today’s coworking spaces are leading the way forward in work, life, and everything in between.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="coworking, berlin, festival,free, event, week, freelancer, workplace, office, hubs, flexible office, software, app, space, booking, crm, invoicing, deutsch, español, français, polski, português" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.coworkingfestival.com"/>
  <meta property="og:title" content="Berlin Coworking Festival" />
  <meta property="og:description" content="Discover the Future of Work. Explore how today’s coworking spaces are leading the way forward in work, life, and everything in between. More details will be posted as we get closer to the event date." />
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <!-- <meta name="twitter:image" content="https://coworkingcodeofconduct.org/assets/coc_twitter_small.png"> -->
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/reg4veq.css">
  {% include facebook-pixel-script.html %}
</head>
