<header class="site-header">
  <div class="container">
    <a class="logo" href="/">
      <div class="logo__x">X</div>
      <div class="logo__name"><span class="logo__location">Berlin</span> Coworking Festival</div>
      <div class="logo__details">9. – 13. September 2019</div>
    </a>
  </div>
</header>

<button type="button" name="button" class="menu-toggle" id="menu-toggle">
  M e n ü
</button>
<nav class="menu" id="menu">
  <div class="menu__inner">
    <a href="/" class="menu-link menu-link--home">Home</a>
    <a href="/schedule" class="menu-link">Schedule</a>
    <a href="/tours" class="menu-link">Tours</a>
    <a href="/faq" class="menu-link">FAQ</a>
    <a href="/contact" class="menu-link">Contact</a>
    <div class="menu-inner__group">
      <a href="https://twitter.com/berlincoworking" target="_blank" class="menu-link menu-link--mini">Twitter</a>
      <a href="https://www.facebook.com/berlincoworking/" target="_blank" class="menu-link menu-link--mini">Facebook</a>
      <a href="https://www.instagram.com/berlincoworking/" target="_blank" class="menu-link menu-link--mini">Instagram</a>
    </div>
  </div>
</nav>
