<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img alt="CoWomen Space" src="/img/space-photos/photo-cowomen.jpg"/>
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Start Coworking for Free with OneCo</h3>
        <p>
          From September 14th – 18th, explore Berlin’s coworking scene using the One Coworking
                    app—for free! Many of Berlin’s top coworking spaces are opening their doors to the public
                    during the Coworking Festival 2020, navigate your options with ease by using One
                    Coworking. View a list of spaces, find the ones near you, and check in with a click.
                    Register below to try out new workspaces and experience what coworking is all about.
        </p>
        <p class="tc mt4">
          <a class="btn btn--big btn--border-with-shadow" href="https://docs.google.com/forms/d/e/1FAIpQLSc_1duLjr9gKy8Q81tOLB3HCXJo0M9vg1Qehbd2X2go65ZKzA/viewform">
            Get Free OneCoworking Vouchers
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
