<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img src="/img/space-photos/photo-cowomen.jpg" alt="Cowomen Space" />
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Gratis Coworking mit der One Coworking App</h3>
        <p>
          Erkunde die Berliner Coworking Welt – ganz umsonst vom 14.-18. September 2020 mit der One
          Coworking App. Zahlreiche Berliner Coworking Spaces öffnen während des Coworking Festival
          2020 ihre Türen für die Öffentlichkeit. Nutze die One Coworking App um eine Liste alle
          teilnehmenden Spaces in Deiner Umgebung zu finden, und mit einem Klick einzuchecken.
          Registriere Dich hier um jetzt loszulegen und auszuprobieren, was Coworking in Berlin so
          einzigartig macht:
        </p>

        <p class="tc mt4">
          <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSc_1duLjr9gKy8Q81tOLB3HCXJo0M9vg1Qehbd2X2go65ZKzA/viewform"
            class="btn btn--big btn--border-with-shadow"
          >
            Jetzt OneCoworking-Gutscheine sichern
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
