<div class="container mb6">
  <div class="section section--64 media-content">
    <div class="media-content__media">
      <img src="/img/space-photos/photo-cowomen.jpg" alt="Cowomen Space">
    </div>
    <div class="media-content__content">
      <div class="border-with-shadow pa4 pa5-l">
        <h3>Become a Participating Space</h3>
        <p>
          From September 9th – 13th 2019, many of Berlin’s coworking spaces will open their doors and invite the public to personally experience coworking. It’s an opportunity to engage with the wider community and demonstrate what so many professionals around the world have already figured out: Coworking is not only here to stay, it is reinventing our relationship with work.
        </p>
        <p class="tc mt4">
          <a href="https://forms.gle/zkhAeMSewSTQcmzz5" class="btn btn--big btn--border-with-shadow">
            Register your space now
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
