<button type="button" name="button" class="menu-toggle" id="menu-toggle">
  <span class="menu-toggle__text">Menu</span><span class="menu-toggle__icon"></span>
</button>
<nav class="menu" id="menu">
  <div class="menu__inner">
    <a href="/" class="menu-link menu-link--home">Home</a>
    <a href="{% link schedule.html %}" class="menu-link">Schedule</a>
    <a href="{% link tours.html %}" class="menu-link">Tours</a>
    <a href="{% link faq.html %}" class="menu-link">FAQ</a>
    <a href="{% link contact.html %}" class="menu-link">Contact</a>
    <div class="menu-inner__group">
      <a href="https://twitter.com/berlincoworking" target="_blank" class="menu-link menu-link--mini">Twitter</a>
      <a href="https://www.facebook.com/berlincoworking/" target="_blank" class="menu-link menu-link--mini">Facebook</a>
      <a href="https://www.instagram.com/berlincoworking/" target="_blank" class="menu-link menu-link--mini">Instagram</a>
    </div>
  </div>
</nav>
