<button class="menu-toggle" id="menu-toggle" name="button" type="button">
  <span class="menu-toggle__text">Menu</span>
  <span class="menu-toggle__icon"></span>
</button>
<nav class="menu" id="menu">
  <div class="menu__inner">
    <a class="menu-link menu-link--home" href="/">Home</a>
    <span class="menu-link">Schedule (TBD)</span>
    <a class="menu-link" href="/en/faq">FAQ</a>
    <a class="menu-link" href="/en/contact">Contact</a>
    <div class="menu-inner__group">
      <a class="menu-link menu-link--mini" href="https://twitter.com/berlincoworking" target="_blank">Twitter</a>
      <a class="menu-link menu-link--mini" href="https://www.facebook.com/berlincoworking/" target="_blank">Facebook</a>
      <a class="menu-link menu-link--mini" href="https://www.instagram.com/berlincoworking/" target="_blank">Instagram</a>
    </div>
  </div>
</nav>
