<button type="button" name="button" class="menu-toggle" id="menu-toggle">
  <span class="menu-toggle__text">Menü</span><span class="menu-toggle__icon"></span>
</button>
<nav class="menu" id="menu">
  <div class="menu__inner">
    <a href="/index-de" class="menu-link menu-link--home">Homepage</a>
    <a href="/de/schedule" class="menu-link">Kalender</a>
    <a href="/de/tours" class="menu-link">Touren</a>
    <a href="/de/faq" class="menu-link">FAQ</a>
    <a href="/de/contact" class="menu-link">Kontakt</a>
    <div class="menu-inner__group">
      <a href="https://twitter.com/berlincoworking" target="_blank" class="menu-link menu-link--mini">Twitter</a>
      <a href="https://www.facebook.com/berlincoworking/" target="_blank" class="menu-link menu-link--mini">Facebook</a>
      <a href="https://www.instagram.com/berlincoworking/" target="_blank" class="menu-link menu-link--mini">Instagram</a>
    </div>
  </div>
</nav>
