<div class="participating-spaces">
  <a class="participating-space-link" href="http://co-up.de/" target="_blank">
    <img src="img/space-coup.png" alt="Co.up Community Space">
  </a>
  <a class="participating-space-link" href="https://sanktoberholz.de/" target="_blank">
    <img src="img/space-st-oberholz.jpg" alt="St. Oberholz Coworking">
  </a>
  <a class="participating-space-link" href="https://www.kinkywork.de/" target="_blank">
    <img src="img/space-kinkywork.png" alt="KinkyWork Coworking">
  </a>
  <a class="participating-space-link" href="http://earlybird-berlin.de/" target="_blank">
    <img src="img/space-the-earlybird.png" alt="The EarlyBird BERLIN">
  </a>
  <a class="participating-space-link" href="http://www.tuesdaycoworking.com" target="_blank">
    <img src="img/space-tuesday-coworking.png" alt="tuesday coworking">
  </a>
  <a class="participating-space-link" href="https://weser.land" target="_blank">
    <img src="img/space-weserland.png" alt="weserland coworking">
  </a>
    <a class="participating-space-link" href="https://kiez-buero.de/" target="_blank">
    <img src="img/space-kiez-buero.jpg" alt="Kiez Büro Coworking">
  </a>
  <a class="participating-space-link" href="http://bekech.com" target="_blank">
    <img src="img/space-bekech.png" alt="be'kech Anticafé">
  </a>
  <a class="participating-space-link" href="http://coconat-space.com" target="_blank">
    <img src="img/space-coconat.png" alt="Coconat">
  </a>
  <a class="participating-space-link" href="http://www.jugglehub.de" target="_blank">
    <img src="img/space-jugglehub.png" alt="juggleHUB Coworking">
  </a>
    <a class="participating-space-link" href="http://www.esdipberlin.com" target="_blank">
    <img src="img/space-esdip.png" alt="ESDIP Berlin">
  </a>
  <a class="participating-space-link" href="http://betahaus.com" target="_blank">
    <img src="img/space-betahaus.png" alt="betahaus | Pop-up Berlin">
  </a>
</div>
