<div class="participating-spaces">
  <a class="participating-space-link" href="http://co-up.de/" target="_blank">
    <img src="img/space-coup.png" alt="Co.up Community Space">
  </a>
  <a class="participating-space-link" href="https://sanktoberholz.de/" target="_blank">
    <img src="img/space-st-oberholz.jpg" alt="St. Oberholz Coworking">
  </a>
  <a class="participating-space-link" href="https://www.kinkywork.de/" target="_blank">
    <img src="img/space-kinkywork.png" alt="KinkyWork Coworking">
  </a>
</div>
