<script src="/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/main.js"></script>

<!-- Google Analytics -->
<script>
  window.ga = function() {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-105304166-1', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
