// cookie banner
.cc-theme-edgeless.cc-window {
  border: 10px solid $color-yellow;
  left: unset !important;
  font-size: .875rem;
  font-family: sofia-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 25rem;
  padding: 1.5rem !important;
  transform: rotate(-10deg);
  right: 1rem !important;
  bottom: 2.5rem !important;
  .cc-btn {
    white-space: nowrap;
    letter-spacing: 0.05em;
  }
}
