.event {
  text-align: left;
  margin-bottom: 2rem;
  @media only screen and (min-width: 992px) {
    margin-bottom: 3rem;
  }
}

.event-day-header {
  width: 100%;
  background-color: #EFEFEC;
  border: none;
  outline: none;
  text-align: left;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.25s ease;
  letter-spacing: .01em;
  text-transform: uppercase;
  color: $color-pink;
  font-size: 1.25rem;
}

.event-date {
  color: $color-text;
  font-size: 1rem;
  text-transform: capitalize;
}

#white {
  background-color: $color-white;
}

#white:hover {
  background-color: #E5E5E5;
}

.event-day-header {
  &::after {
    content: '\f13a';
    font-family: "fontawesome";
    font-size: 1em;
    font-weight: bolder;
    float: right;
    transition: transform .15s ease-in-out;
  }
  .is-open,
  &:hover,
  &:focus {
    background-color: rgba($color-pink, .1);
    &::after {
      transform: rotate(180deg);
    }
  }
}

.event-content {
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.event-time,
.event-location {
  float: left;
  background-color: #F7F7F7;
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
  line-height: 10px;
}

.event-time {
  float: left;
  width: calc(30% - 10px);
}

.event-location {
  float: right;
}

.event-description {
  clear: both;
  padding: 1rem;
}

.event:nth-child(even) p {
  background-color: rgba($color-pink, .15);
}

.event:nth-child(odd) p {
  background-color: rgba($color-purple, .15);
}

@media only screen and (min-width: 992px) {
  .event-time,
  .event-location,
  .event-description {
    padding: 1.5rem;
  }
}
