.events-day {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $color-cream;
  border-top: 3px solid $color-text;
  &:nth-child(odd) {
    background-color: $color-lavender;
  }
  &:last-child {
    border-bottom: 3px solid $color-text;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
}

.event {
  display: none; //@kriesse: remove this once we have data
  max-width: 54rem;
  margin-bottom: 3rem;
  align-self: flex-end;
}

.event__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event__weekday {
  display: none;
  @include media-query($size-m) {
    display: inline;
  }
}

.event__time {
  margin-right: 1.5rem;
}

.event__location {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
