
/***** faq *****/
#faq-banner {
  background: linear-gradient(to right, rgba($color-pink,.88), rgba($color-lemon,.88) ), url("../img/faq-banner.png") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  height: 15em;
}

.faq {
  padding: 1.5rem 0;
  margin: 1rem 8%;
  text-align: left;
  img {
    display: block;
    width: 100%;
    margin: 0 auto 1.5rem;
  }
  a {
    color: #3C2970;
    font-weight: 600;
  }
  p {
    max-width: 42rem;
    padding: 0 0 20px;
    font-size: 0.9em;
    overflow: hidden;
    border-bottom: 1px solid $color-pink;
  }
}


/* Medium devices (landscape tablets, 768px and above) */
@media only screen and (min-width: 768px) {
  .faq {
    img {
      width: 40%;
      margin-right: 2rem;
      margin-bottom: 6rem;
      float: left;
      clear: left;
    }
  }
  .faq-body {
    margin-left: calc(40% + 2rem);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .faq {
    img {
      width: 30%;
      max-width: 420px;
    }
    .faq-body {
      margin-left: calc(30% + 2rem);
    }
  }
}
