
a, button, input, select, textarea,
.btn {
  transition-property: color, background-color, border, transform, box-shadow;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

a {
  text-decoration: none;
  color: $color-teal;
  &:hover, &:focus {
    color: $color-pink;
  }
}

.link--footer {
  color: $color-text;
  padding: 1rem;
  &:hover, &:focus {
    color: $color-pink;
  }
}

.btn {
  display: inline-block;
  border-radius: 3rem;
  border: 0;
  color: $color-text;
  font-size: 1rem;
  background-color: $color-yellow;
  padding: 1rem 2rem;
  text-decoration: none;
  letter-spacing: .05em;
  &:hover, &:focus {
    color: $color-text;
    background-color: lighten($color-yellow, 20%);
  }
}

.btn--big {
  font-size: 1.125rem;
  @include media-query($size-s) {
    font-size: 1.5rem;
  }
}

.btn--border-with-shadow {
  position: relative;
  border: 2px solid currentColor;
  box-shadow: -.75rem .75rem 0 currentColor;
  &:hover, &:focus {
    box-shadow: -.5rem .5rem 0 currentColor;
  }
}
