html {
  font-size: 1em;
}
::-moz-selection {
  background: $color-lemon;
  color: $color-text;
  text-shadow: none;
}
::selection {
  background: $color-lemon;
  color: $color-text;
  text-shadow: none;
}

body, input, button, textarea, select {
  font-family: 'Mukta Vaani', sans-serif;
}

body {
  color: $color-text;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

// links
a, button, input, textarea, select {
  transition: all 0.25s ease;
}

a {
  color: $color-pink;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-purple;
  }
}

.yellow-link {
  color: $color-lemon;
  &:hover, &:focus {
    color: darken($color-lemon, 20%);
  }
}

.introduction,
.newsletter,
.map {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.map {
  max-width: 42rem;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  margin: 0;
}

.title {
  @include font-monoton;
  font-size: 1.75rem;
  color: $color-white;
  text-align: center;
  padding-top: 5rem;
  @media only screen and (min-width: 768px) {
    font-size: 3rem;
  }
}

// Layout

.site-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-main {
  flex-grow: 1;
}

/***** GRID *****/
.full-width {
  max-width: 42rem;
  width: 100%;
  margin: 0 auto;
}

.half-width {
  float: left;
  width: 50%;
}

.one-third-width {
  width: 0.3333%;
  float: left;
  padding-right: 20px;
}

.two-third-width {
  width: 0.666%;
  float: right;
}
/***** HEADER *****/
header {
  background: linear-gradient(to right, rgba($color-pink,.88), rgba($color-lemon,.88) );
}

.homepage {
  background: linear-gradient(to right, rgba($color-pink,.88), rgba($color-lemon,.88) ), url("../img/hero.jpg");
  background-size: auto;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: $color-pink;
}

.sticky + .content {
  padding-top: 102px;
}

.navigation {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.25s ease;
  z-index: 10;
}

.menu-toggle {
  display: none;
  width: 20px;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  background: url("../img/burger-icon.png") no-repeat 98% center;
}

.nav-group {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  a {
    display: block;
    text-align: center;
    padding: 6px 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: $color-purple;
  }
}

header h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: $color-purple;
}

.language {
  color: rgba($color-text, .5);
  font-weight: 600;
  a {
    color: $color-text;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    &:hover, &:focus {
      color: $color-purple;
    }
  }
}

.logo {
  display: block;
  padding: 10px;
  h1 {
    margin: 0;
    @include font-monoton;
    color: $color-purple;
    text-align: center;
    transition: all 0.25s ease;
    font-size: 1.2rem;
  }
}

.main-header-graphic {
  width: 55%;
  margin: 0 auto;
  display: block;
  clear: both;
  padding: 20px;
}

// Introduction
.introduction h2 {
  color: $color-pink;
  font-size: 1.75rem;
  line-height: 1.125;
}

// Spaces
.spaces {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $color-lemon;
}

// Newsletter
.newsletter {
  background: $color-pink;
  padding-top: 3rem;
  padding-bottom: 3rem;
  h2 {
    @include font-monoton;
    color: $color-white;
    font-size: 26px;
  }
  p {
    color: $color-white;
  }
}

// Buttons
.btn {
  display: inline-block;
  border-radius: 5px;
  border: 0;
  color: $color-purple;
  font-size: 16px;
  background-color: $color-lemon;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  &:hover, &:focus {
    background-color: darken($color-lemon, 20%);
  }
}

.btn.pink {
  background-color: $color-pink;
  color: $color-white;
  &:hover, &:focus {
    background-color: darken($color-pink, 20%);
  }
}
/***** tours *****/
#tours-banner {
  background: linear-gradient(to right, rgba($color-pink,.88), rgba($color-lemon,.88) ), url("../img/tours.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 15em;
}

.tours {
  padding: 10% 8%;
  background: #EFEFEC;
}

#googlemap {
  border: 1px #BBB solid;
}

.time {
  font-size: 0.8em;
  color: #A5A5A3;
  text-align: left;
  padding: 0;
  line-height: 0.4em;
}

.small-heading {
  font-family: 'Mukta Vaani', sans-serif;
  font-size: 1em;
  text-align: left;
  line-height: 1.2em;
  font-weight: 600;
}

.tours h3 {
  color: $color-pink;
  font-weight: 600;
  text-align: left;
  font-size: 1em;
}

#tour-start-end p {
  text-align: left;
  padding: 0;
  margin: 0 auto;
  font-size: 0.9em;
  line-height: 1.5em;
}

#tour-start-end p span {
  font-weight: 600;
  color: #A5A5A3;
}

#tour-start-end a {
  text-decoration: underline;
  color: inherit;
}

#tour-start-end a:hover {
  color: $color-pink;
}
/***** schedule *****/
#schedule-banner {
  background: linear-gradient(to right, rgba($color-pink,.88), rgba($color-lemon,.88) ), url("../img/schedule-banner.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 15em;
}

.feature {
  padding-top: 3rem;
  padding-bottom: 3rem;
  clear: both;
}

.feature-image {
  img {
    float: right;
    display: block;
  }
}

.feature-title {
  font-size: 1em;
  font-weight: 400;
  background-color: $color-pink;
  padding: 3px 20px;
  width: 70%;
  color: $color-white;
  float: left;
  text-align: left;
  margin-top: -30px;
  letter-spacing: 0.05em;
}

.feature-description {
  text-align: left;
  float: left;
}

.container {
  max-width: 42rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}


.container-wide {
  max-width: 64rem;
}

.drop-down {
  margin-bottom: 50px;
}

/***** contact *****/
#contact-banner {
  background: linear-gradient(to right, rgba($color-pink,.88), rgba($color-lemon,.88) ), url("../img/contact-banner.png") no-repeat center center;
  background-size: cover;
  height: 15em;
}

.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// Contact Details
.contact-details {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #eeeeee;
  h2 {
    line-height: 0;
  }
}

.contact h2 {
  @include font-monoton;
  color: $color-pink;
  font-size: 26px;
  margin: 0 auto;
  padding-top: 20px;
}

/***** footer *****/
.footer {
  background-color: $color-text;
  p {
    color: $color-white;
    text-align: left;
  }
  span {
    font-weight: 600;
  }
}

.footer-link {
  color: $color-lemon;
  &:hover, &:focus {
    color: $color-pink;
  }
}

.small-footer-link {
  font-size: 14px;
  font-weight: lighter;
  color: #999;
  &:hover, &:focus {
    color: $color-pink;
  }
}
// Media Queries for Responsive Design.

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-header-graphic {
    width: 30%;
  }
}
/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-list {
    background: $color-pink;
    display: none;
  }

  .nav-list.open {
    display: block;
    background-color: $color-pink;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .nav-list li {
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .nav-list a {
    color: $color-white;
    padding: 10px;
    display: block;
    margin: 0;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-header-graphic {
    width: 30%;
  }

  .introduction,
  .newsletter,
  .map {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .feature-image {
    float: left;
    max-width: 70%;
    img {
      width: 100%;
    }
  }

  .feature-title {
    float: left;
    padding-left: 20px;
    width: 30%;
    font-size: 1em;
    font-weight: 400;
    background-color: $color-pink;
    padding: 8px 20px;
    color: $color-white;
    text-align: left;
    letter-spacing: 0.05em;
    margin: 0 auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-header-graphic {
    width: 25%;
  }

  .feature-image {
    display: inline;
    width: 50%;
    img {
      width: 100%;
    }
  }

  .feature-title {
    float: left;
    padding-left: 40px;
    width: 50%;
    font-size: 1em;
    font-weight: 400;
    background-color: $color-pink;
    padding: 8px 20px;
    color: $color-white;
    text-align: left;
    letter-spacing: 0.05em;
    margin: 0 auto;
  }

  .feature-description {
    max-width: 50%;
    padding-left: 2rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-header-graphic {
    width: 25%;
  }
}
