//  Colors and other style variables

$color-text: #1c1821;
$color-text-50: lighten(#1c1821, 50%);
$color-white: #FFFFFF;
$color-pink: #f01a66;
$color-coral: #fe8876;
$color-purple: #3A1772;
$color-lemon: #f9dd42;
$color-teal: #1791bd;
