//  Colors and other style variables

$color-text: #1C1821;
$color-text-75: #555259;
$color-text-50: #8D8B90;
$color-white: #FFFFFF;
$color-green: #05C13A;
$color-foam: #DFEFFF;
$color-coral: #FE8876;
$color-lavender: #EADFF8;
$color-tomato: #F94212;
$color-blue: #3096FC;
$color-blue-light: #95C9FD;

// media queries & breakpoints
// Media-Query Mixin
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

$size-xs: 480px;
$size-s: 640px;
$size-m: 960px;
$size-l: 1280px;
$size-xl: 1440px;
$size-xxl: 1920px;

$transition-timing-function: ease-in-out;
$transition-duration: .15s;
