<div class="participating-spaces">
  <a class="participating-space-link" href="https://sanktoberholz.de/" target="_blank">
    <img src="/img/space-st-oberholz.jpg" alt="St. Oberholz Coworking">
  </a>
  <a class="participating-space-link" href="https://www.kinkywork.de/" target="_blank">
    <img src="/img/space-kinkywork.png" alt="KinkyWork Coworking">
  </a>
  <a class="participating-space-link" href="http://earlybird-berlin.de/" target="_blank">
    <img src="/img/space-the-earlybird.png" alt="The EarlyBird BERLIN">
  </a>
  <a class="participating-space-link" href="http://www.tuesdaycoworking.com" target="_blank">
    <img src="/img/space-tuesday-coworking.png" alt="tuesday coworking">
  </a>
  <a class="participating-space-link" href="https://weser.land" target="_blank">
    <img src="/img/space-weserland.png" alt="weserland coworking">
  </a>
    <a class="participating-space-link" href="https://kiez-buero.de/" target="_blank">
    <img src="/img/space-kiez-buero.jpg" alt="Kiez Büro Coworking">
  </a>
  <a class="participating-space-link" href="http://bekech.com" target="_blank">
    <img src="/img/space-bekech.png" alt="be'kech Anticafé">
  </a>
  <a class="participating-space-link" href="http://coconat-space.com" target="_blank">
    <img src="/img/space-coconat.png" alt="Coconat">
  </a>
  <a class="participating-space-link" href="http://www.jugglehub.de" target="_blank">
    <img src="/img/space-jugglehub.png" alt="juggleHUB Coworking">
  </a>
    <a class="participating-space-link" href="http://www.esdipberlin.com" target="_blank">
    <img src="/img/space-esdip.png" alt="ESDIP Berlin">
  </a>
  <a class="participating-space-link" href="http://betahaus.com" target="_blank">
    <img src="/img/space-betahaus.png" alt="betahaus | Pop-up Berlin">
  </a>
  <a class="participating-space-link" href="http://www.ahoyberlin.com" target="_blank">
    <img src="/img/space-ahoy.jpg" alt="Ahoy Berlin">
  </a>
    <a class="participating-space-link" href="https://www.boho.space" target="_blank">
    <img src="/img/space-boho.jpg" alt="Boho Space">
  </a>
  <a class="participating-space-link" href="http://lighthaus.berlin" target="_blank">
    <img src="/img/space-lighthaus.png" alt="Lighthaus.berlin">
  </a>
  <a class="participating-space-link" href="http://co-up.de/" target="_blank">
    <img src="/img/space-coup.png" alt="Co.up Community Space">
  </a>
  <a class="participating-space-link" href="http://www.space-shack.com" target="_blank">
    <img src="/img/space-space-shack.jpg" alt="Space Shack">
  </a>
  <a class="participating-space-link" href="https://www.coworking-deluxe.com" target="_blank">
    <img src="/img/space-coworking-deluxe.png" alt="Coworking Deluxe">
  </a>
    <a class="participating-space-link" href="https://enklave.de/" target="_blank">
    <img src="/img/space-enklave.jpg" alt="Enklace Coworking">
  </a>
  <a class="participating-space-link" href="http://welance.com/" target="_blank">
    <img src="/img/space-welance.png" alt="welance">
  </a>
  <a class="participating-space-link" href="https://www.wonder-coworking.de" target="_blank">
    <img src="/img/space-wonder.png" alt="Wonder Coworking">
  </a>
  <a class="participating-space-link" href="https://amapola-coworking.de/" target="_blank">
    <img src="/img/space-amapola.png" alt="Amapola Coworking">
  </a>
  <a class="participating-space-link" href="http://lebox.berlin/" target="_blank">
    <img src="/img/space-le-box.png" alt="le box">
  </a>
  <a class="participating-space-link" href="https://www.filmtechoffice.com" target="_blank">
    <img src="/img/space-film-tech-office.png" alt="FilmTech Office">
  </a>
  <a class="participating-space-link" href="http://bplusoffice.de" target="_blank">
    <img src="/img/space-b+office.png" alt="b+office">
  </a>
</div>
