<div class="social-icons">
  <a class="social-icon-link" href="https://twitter.com/berlincoworking" target="_blank">
    <img src="/img/twitter.svg" alt="twitter" height="30px" width="30px" />
  </a>
  <a class="social-icon-link" href="https://www.facebook.com/berlincoworking/" target="_blank">
    <img src="/img/facebook.svg" alt="facebook" height="30px" width="30px" />
  </a>
  <a class="social-icon-link" href="https://www.instagram.com/berlincoworking/" target="_blank">
    <img src="/img/instagram.svg" alt="instagram" height="30px" width="30px" />
  </a>
</div>
