<div class="sponsor-footer">
  <div class="container ph3 mv5 mv6-l">
    <h2>Supporters</h2>
    <div class="sponsor-footer-grid">
      <a href="https://www.cobot.me/" class="sponsor-footer-item">
        <img src="/img/sponsor-cobot.png" alt="Cobot Logo">
      </a>
      <a href="https://www.onecoworking.com/" class="sponsor-footer-item">
        <img src="/img/sponsor-one-coworking.png" alt="One Coworking">
      </a>
      <a href="https://www.fritz-kola.de/" class="sponsor-footer-item">
        <img src="/img/sponsor-fritz-kola.png" alt="Fritz Cola">
      </a>
    </div>
  </div>
</div>
