<!doctype html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body class="site-body">
    <header>
      <nav class="navigation" id="myHeader">
        <a class="menu-toggle"></a>
        <a href="index.html" class="logo">
          <h1>Cowork</h1>
        </a>
        <div class="nav-group">
          <ul class="nav-list">
            <li><a href="./schedule.html">Schedule</a></li>
            <li><a href="./tours.html">Tours</a></li>
            <li><a href="./faq.html">FAQ</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
          {% include language-switch.html %}
        </div>
      </nav>
      <div class="homepage" id="{{page.banner}}">
        {% unless page.banner %}
        <img src="img/logo-lockup-p.svg" class="main-header-graphic" /> {% endunless %} {% if page.title %}
        <h1 class="title">{{page.title}}</h1> {% endif %}
      </div>
    </header>

    <main class="site-main">
      {{content}}
    </main>

    {% include sponsor-footer.html %}

    <footer class="footer flex justify-between items-center tl pv4 ph3 ph4-l">
      <div>
        <p>
          <span>Get in touch</span><br /><a href="mailto:berlincoworking@gmail.com" target="_blank">berlincoworking@gmail.com</a>
        </p>
        <p>
          <a href="/imprint.html" id="imprint" target="_blank">Imprint</a>
        </p>
      </div>
      <div>
        {% include social-links.html %}
      </div>
    </footer>
    {% include scripts.html %}
  </body>

</html>
