<!doctype html>
<html class="no-js" lang="en">

{% include head.html %}

<body class="site-body">
  <!-- <header>

  </header> -->

  <main class="site-main flex">
    {{content}}
  </main>

  <footer class="site-footer">
    <a href="/2018/index.html" target="_blank" class="link--footer">Coworking Festival 2018 Website</a>
    <a href="mailto:berlincoworking@gmail.com" target="_blank" class="link--footer">berlincoworking@gmail.com</a>
    <a href="{% link 2018/imprint.html %}" class="link--footer">Imprint</a>
  </footer>
</body>

</html>
